<h1>Listing statuses</h1>

<table>
  <thead>
    <tr>
        <th>List</th>
        <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= content_tag_for(:tr, @statuses) do |status| %>
        <td><%= status.name %></td>
        <td><%= link_to 'Show', status %></td>
      <td><%= link_to 'Edit', edit_status_path(status) %></td>
      <td><%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Status', new_status_path %>
